body {
    font-family: Varela, Poppins, sans-serif;
}

nav {
    border-bottom: 1px  solid #8F8F8F;
    border-top: 1px  solid #8F8F8F;
    margin-top: 0.5rem;
    position: sticky!important;
    top: 0;
    z-index: 100;
}

.logo-banner{
    top: 1rem;
    left: 1rem;
    width: 10%!important;
    position: absolute;
    border-radius: 50%;
}

p.card-text {
    /* font-size: 30px; */
    font-size: 1rem;
    margin-top: 1.5rem;
}
.card-title{
    font-size: 1.5rem;
}


.home-card{
    border: 0px solid white!important;
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
}

.menu{
    display: flex;  
    flex-direction: column;
    align-items: start;
}

.img-access {
    width: 1.5rem;
}

.img-banner {
    width: 100%;
}

li ul {
    justify-content: space-between;
}

.content-perdidos {
    display: flex;
    margin: auto;
}

.input-perdidos {
    margin: auto;
}

.card-perdidos {
    margin: auto;

}

div.card.perdidos {
    width: 15rem !important;
}

#contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* LOGIN */
.logo-login {
    /*! border: 2px solid; */
    border-radius: 50%;
    width: 35%;
    box-shadow: 3px 3px 5px 0 #afafaf;

}

.container-form {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}

.formulario {
    width: 400px;
    padding: 2.5rem;
    margin: 2rem;
    text-align: center;
    border: 1px solid #AFAFAF;
    border-radius: 2%;
    box-shadow: 1px 5px 5px #AFAFAF;
}

.formulario input,
select {
    display: block;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 5%;
    padding-top: 1%;
    border-radius: 5px;
    border: 1px solid #afafaf;
    height: 40px;
    padding-left: 10px;
}
.formulario input:focus, select:focus{
    outline: none !important;
    border: 2px solid #769FDE;
}

.formulario p {
    margin-top: 5%;
    font-size: smaller;
}

.button-login {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 55%;
    /*! min-height: 44px; */
    border: unset;
    border-radius: 4px;
    /*! outline-color: rgb(84 105 212 / 0.5); */
    background-color: #769FDE;
    color: white;
    font-weight: 600;
}

.error-message{
    color: rgb(252, 65, 65);
}

.form-container{
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
    align-items: start;
    width: 100%;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.searchContainer{
    margin: 2%;
    
    border-right: 3px solid rgba(138, 132, 132, 0.705);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: fixed;
    top: 20%;
    z-index: 80;
    background-color: white;    
}
svg.bi-bi-search-heart{
    align-self: center;
}

#boton.bi-bi-search-heart{
    margin-top: 2rem;
    background-color: #769FDE;
    width: 2rem;
    height: 1.5rem;
    align-self: center;
    box-shadow: 2px 3px 5px 0px #afafaf;
    border-radius: 5px;
    border: #8F8F8F;
    display: flex;
    justify-content: center;
}


.padre{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;  
    
}




.row{
    box-shadow: 2px 5px 4px 4px #dfdfdf;
    border-radius: 10px;
    padding: 2rem;
}

.wrapper {
    position: relative;    
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.cardPerdido {
    position: relative;
    /* width: 47vh; */
    width: 40vh;
    height: 47vh; 
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.cardPerdido:hover .poster::before {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.cardPerdido:hover .poster img {
    transform: scale(1);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0; 
    padding: 1.5em 1.5em 2em;
    background: rgba(49, 46, 46, 0.667);
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
    width: 100%;
}

.cardPerdido:hover .details {
    bottom: 0;
}
.no-Display{
    display: none;
}

#ver{
    display: block;
    align-self: start;
    margin-top: 2rem;
    background-color: #769FDE;
    width: 2rem;
    height: 1.5rem;
    position: fixed;
    z-index: 90;
    margin-left: 6%;
    top: 20%;
    box-shadow: 2px 3px 5px 0px #afafaf;
    border-radius: 5px;
    border: #8F8F8F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 4px solid rgba(22, 77, 218, 0.5);
    width: 70px;
    height: 70px;
    margin: 30px auto;
    border-radius: 50%;
    border-bottom-color: transparent;
    animation: spin 1s linear infinite;
  }
  
  .spinner-container {
    --height: 60vh;
    display: none;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--height);
    /* posiciona el spinner al medio (o lo intenta)*/
    position: relative;
    top: calc(var(--height) *0.3);
    
  }

.details h1,
.details h2 {
    font-weight: 700;
}

.details h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}

.details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}



.details .tags {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
}

.details .tags span {
    padding: .30rem .60rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 4px;
    border-radius: 50px;
}

.button-adoptar{
    background: #00000005;
    border-radius: 50px;
    color: #769FDE;
}

@media (min-width: 992px) {
    
    .menu{
        display: flex;  
        flex-direction: row-reverse;
        align-items: start;
    }
    .searchContainer{
        position: relative;
    }

    .logo-banner{
        top: 6rem;
        left: 2rem;
        width: 10rem !important;
    }

    .navbar-brand{
        margin-left: 2%;
        font-size: 30px!important;
    }

    .nav-link{
        display: inline;
    }

    .nav-item{
        font-size: 20px
    }

    img.img-access{
        width: 30px;
    }

}
/* footer */
.footer{
    margin-top: 5px;
    margin-bottom: 5px;
}
.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;

}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: #4a4aee;
    cursor: pointer;
}
.border-icon i{
    color: black;
}

@media (min-width:600px){
    .searchContainer{
        position: relative;
       top: 0%;
    }
    #ver{
        position:sticky;
        top:50vh;
    }

}


@media (min-width: 992px) {
    
    .menu{
        display: flex;  
        flex-direction: row-reverse;
        align-items: start;
    }
    .searchContainer{
        position: relative;
    }
    #ver{
        display: none;    
    }    

}

.active  {
    font-weight: 700!important;
    letter-spacing: 0.2rem;
}   

.nav-item{
    font-weight: 400;
    text-transform: uppercase;
    align-content: center;
}




.navbar-brand{
    font-weight: 700;
    letter-spacing: 0.5rem;

}

#nav-list{
    width: inherit;
    justify-content: space-around;
}

.navbar-collapse{
    width: 100%;
}