body {
    font-family: Varela, Poppins, sans-serif;
}

.img-access {
    width: 5%;
}

.img-banner {
    width: 100%;
}

li ul {
    justify-content: space-between;
}

.content-perdidos {
    display: flex;
    margin: auto;
}

.input-perdidos {
    margin: auto;
}

.card-perdidos {
    margin: auto;

}

div.card.perdidos {
    width: 15rem !important;
}

#contenedor {
    display: flex;
    flex-wrap: wrap;
}

/* LOGIN */
.logo-login {
    /*! border: 2px solid; */
    border-radius: 50%;
    width: 35%;
    box-shadow: 3px 3px 5px 0 #afafaf;

}

.container-form {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
}

.formulario {
    width: 400px;
    padding: 2.5rem;
    margin: 2rem;
    text-align: center;
    border: 1px solid #AFAFAF;
    border-radius: 2%;
    box-shadow: 1px 5px 5px #AFAFAF;
}

.formulario input {
    display: block;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 5%;
    border-radius: 5px;
    border: 1px solid #afafaf;
    height: 40px;
    padding: 10px;
}

.formulario p {
    margin-top: 5%;
    font-size: smaller;
}

.button-login {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 55%;
    /*! min-height: 44px; */
    border: unset;
    border-radius: 4px;
    /*! outline-color: rgb(84 105 212 / 0.5); */
    background-color: #769FDE;
    color: white;
    font-weight: 600;
}

.error-message{
    color: rgb(252, 65, 65);
}

.form-container{
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
    align-items: start;
}

.searchContainer{
    margin: 2%;
    padding-right: 2%;
    
    border-right: 3px solid rgba(138, 132, 132, 0.705);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
}

.bi-bi-search-heart{
    align-self: center;
    margin: 10%;
}

.padre{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;  
    
}








.wrapper {
    position: relative;    
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.cardPerdido {
    position: relative;
    width: 47vh;
    height: 47vh; 
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.cardPerdido:hover .poster::before {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.cardPerdido:hover .poster img {
    transform: scale(1);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    
   
    padding: 1.5em 1.5em 2em;
    background: rgba(49, 46, 46, 0.667);
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.cardPerdido:hover .details {
    bottom: 0;
}

.details h1,
.details h2 {
    font-weight: 700;
}

.details h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}

.details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}



.details .tags {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
}

.details .tags span {
    padding: .30rem .60rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 4px;
    border-radius: 50px;
}

